<div id="title">
    <p>Quarentime</p>
    <p id="wasteTime">Waste time</p>
    <div style="position: relative; left: 50%; transform: translateX(-50%); top: 10%;" >
        <a href="https://github.com/GakPower/QuarenTimeLeo"><i class="fa fa-github"></i></a>
    </div>
</div>

<div class="container-about">

    <div class="Introduction">

        <h1 style="color: var(--accent); font-size: 30px; font-family: var(--primaryFont);">Product</h1>
        <ul style="color: var(--text);">
            <li>
                <p class="product-desc">Quarentime is a movie recommendation system that utilizes user-user collaborative
                  filtering to process the users' responses to a questionnaire.</p>
            </li>
            <li>
                <p class="product-desc">The questionnaire requires the user to rate at least 20 random movies and compares
                  these ratings to other users ratings in our database.</p>
            </li> 
            <li>
                <p class="product-desc">Our initial database consists of 10,000 different movies and 610 ratings, but we are planning
                to expand it.</p>
            </li>
            <li>
                <p class="product-desc">In addition to the recommendation system, the users get to see upcoming movies, most
                  popular movies, and a chance to personalize their profiles. They can create their own watch lists, and
                    a blacklist, watched, and favorite lists that will influence the recommendation system.</p>
            </li>
        </ul>
        <h1 style="color: var(--accent); font-size: 30px; font-family: var(--primaryFont);">Our team</h1>

        <p class="product-desc">We are a group of six Information and Communication Technology students at the Royal Institute of
          Technology (KTH).
        </p>
    </div>
    <div class="container">
        <div class="card">
            <h3 class="title">Anas AlRahis</h3>
            <div class="bar">
                <div class="emptybar"></div>
                <div class="filledbar"></div>
            </div>
          <div class="circle"
               style="margin-top: auto; margin-bottom: auto; left: 40%; top: 70%; transform: translate(-50% -50%); position: absolute;">
            <a href="mailto:anas.alrahis@hotmail.com"><i class="fa fa-envelope fa-fw bg-primary"></i></a>
          </div>

        </div>
        <div class="card">
            <h3 class="title">Anna Bogacova</h3>
            <div class="bar">
                <div class="emptybar"></div>
                <div class="filledbar"></div>
            </div>
          <div class="circle"
               style="margin-top: auto; margin-bottom: auto; left: 40%; top: 70%; transform: translate(-50% -50%); position: absolute;">
            <a href="mailto:bogachova.anna2@gmail.com"><i class="fa fa-envelope fa-fw bg-primary"></i></a>
          </div>

        </div>
        <div class="card">
            <h3 class="title">George Kotsiopoulos</h3>
            <div class="bar">
                <div class="emptybar"></div>
                <div class="filledbar"></div>
            </div>
          <div class="circle"
               style="margin-top: auto; margin-bottom: auto; left: 40%; top: 70%; transform: translate(-50% -50%); position: absolute;">
            <a href="mailto:george.p.kotsiopoulos@gmail.com"><i class="fa fa-envelope fa-fw bg-primary"></i></a>
          </div>

        </div>
        <div class="card">
            <h3 class="title">Lorenzo Bracci</h3>
            <h4 class="project_title">(Scrum Master)</h4>
            <div class="bar">
                <div class="emptybar"></div>
                <div class="filledbar"></div>
            </div>
          <div class="circle"
               style="margin-top: auto; margin-bottom: auto; left: 40%; top: 70%; transform: translate(-50% -50%); position: absolute;">
            <a href="mailto:lorenzobracci98@hotmail.com"><i class="fa fa-envelope fa-fw bg-primary"></i></a>
          </div>

        </div>
        <div class="card">
            <h3 class="title">Osman Osman</h3>
            <div class="bar">
                <div class="emptybar"></div>
                <div class="filledbar"></div>
            </div>
            <div class="circle"
                style="margin-top: auto; margin-bottom: auto; left: 40%; top: 70%; transform: translate(-50% -50%); position: absolute;">
               <a href="mailto:O_osman1618@hotmail.com"><i class="fa fa-envelope fa-fw bg-primary"></i> </a>
                <a href="https://www.linkedin.com/in/osman-osman-92688a170/"><img
                        src="https://img.icons8.com/color/32/000000/linkedin.png"  /></a>
            </div>
        </div>
        <div class="card">
            <h3 class="title">Victoria Torres Merino</h3>
            <h4 class="project_title">(Product Owner)</h4>
            <div class="bar">
                <div class="emptybar"></div>
                <div class="filledbar"></div>
            </div>
            <div class="circle"
                 style="margin-top: auto; margin-bottom: auto; left: 40%; top: 70%; transform: translate(-50% -50%); position: absolute;">
              <a href="mailto:victoriatorresmerino@gmail.com"><i class="fa fa-envelope fa-fw bg-primary" style="width:42px;height:42px;border:0;top:70%"></i></a>
              <a href="https://www.linkedin.com/in/victoria-torres-merino/">
                <img src="https://img.icons8.com/color/32/000000/linkedin.png" />
              </a>
            </div>
        </div>
    </div>

  
  <button class="btn1" type="button" (click)="onStart();">Back to Start page</button>
  

</div>
