//@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');
//
//#title {
//  position: absolute;
//  top: 20px;
//  left: 50%;
//  transform: translateX(-50%);
//
//  width: 500px;
//
//  text-align: center;
//  font-size: 40px;
//  letter-spacing: 0.5em;
//  text-transform: uppercase;
//
//  font-family: var(--primaryFont);
//
//  p {
//    color: white;
//  }
//
//  #wasteTime {
//    color: var(--primary);
//    font-size: 20px;
//    font-family: var(--secondaryFont);
//  }
//}
//
//@import url(https://fonts.googleapis.com/css?family=Roboto:300);
//
//.login-page {
//  width: 360px;
//  padding: 8% 0 0;
//  margin: auto;
//}
//.form {
//  position: relative;
//  z-index: 1;
//  background: #181C1F;
//  max-width: 360px;
//  margin: 0 auto 100px;
//  padding: 45px;
//  text-align: center;
//  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
//  border-radius: 20px;
//
//}
//.form input {
//  font-family: "Roboto", sans-serif;
//  outline: 0;
//  background: #f2f2f2;
//  border-radius: 20px;
//  width: 100%;
//  border: 0;
//  margin: 0 0 15px;
//  padding: 15px;
//  box-sizing: border-box;
//  font-size: 14px;
//}
//.form button {
//  font-family: "Roboto", sans-serif;
//  text-transform: uppercase;
//  outline: 0;
//  background: var(--accent);
//  border-radius: 20px;
//  width: 100%;
//  border: 0;
//  padding: 15px;
//  color: #FFFFFF;
//  font-size: 14px;
//  -webkit-transition: all 0.3 ease;
//  transition: all 0.3 ease;
//  cursor: pointer;
//}
//.form button:hover,.form button:active,.form button:focus {
//  background: var(--primary);
//}
//.form .message {
//  margin: 15px 0 0;
//  color: #b3b3b3;
//  font-size: 18px;
//
//
//}
//.form .message a {
//  color: var(--accent);
//  text-decoration: none;
//  font-size: 18px;
//
//
//
//}
//.form .register-form {
//  display: none;
//}
//.container {
//  position: relative;
//  z-index: 1;
//  max-width: 300px;
//  margin: 0 auto;
//}
//.container:before, .container:after {
//  content: "";
//  display: block;
//  clear: both;
//}
//.container .info {
//  margin: 50px auto;
//  text-align: center;
//}
//.container .info h1 {
//  margin: 0 0 15px;
//  padding: 0;
//  font-size: 36px;
//  font-weight: 300;
//  color: #1a1a1a;
//}
//.container .info span {
//  color: #4d4d4d;
//  font-size: 12px;
//}
//.container .info span a {
//  color: #000000;
//  text-decoration: none;
//}
//.container .info span .fa {
//  color: #EF3B3A;
//}
//.forget-Pass{
//  margin-top: 10px;
//  text-decoration: none;
//  font-size: 18px;
//  color: var(--accent);
//  cursor: pointer;
//
//}
//.text-reest{
//
//  color: var(--text);
//  font-size: 16px;
//  font-weight: 400;
//  font-family: var( --secondaryFont);
//  margin-bottom: 20px;
//}
//body {
//  background: #76b852; /* fallback for old browsers */
//  background: -webkit-linear-gradient(right, #76b852, #8DC26F);
//  background: -moz-linear-gradient(right, #76b852, #8DC26F);
//  background: -o-linear-gradient(right, #76b852, #8DC26F);
//  background: linear-gradient(to left, #76b852, #8DC26F);
//  font-family: "Roboto", sans-serif;
//  -webkit-font-smoothing: antialiased;
//  -moz-osx-font-smoothing: grayscale;
//}
//
//.error{
//  margin: 20px;
//  font-size: 14px;
//  color: var(--accent);
//  font-weight: 400;
//
//  align-self: center;
//  text-align: center;
//}
//
//.success{
//  margin: 20px;
//  font-size: 14px;
//  color: var(--text);
//  font-weight: 400;
//
//}

#title {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);

  text-align: center;
  font-size: 2rem;
  letter-spacing: 0.5em;
  text-transform: uppercase;

  font-family: var(--primaryFont);

  p {
    color: var(--text);
  }

  #wasteTime {
    color: var(--accent);
    font-size: 1rem;
    font-family: var(--secondaryFont);
  }
}

#background {
  background-image: url('https://i.redd.it/4fxxbm4opjd31.jpg');
  background-size: cover;
  height: 100vh;

  box-shadow:inset 0 0 300px black;
  opacity: 0.7;
}

#login-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;

  width: calc(85vw - 90px);
  max-width: 315px;

  padding: 45px;

  background: var(--background-dark);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-radius: 20px;

  text-align: center;

  input {
    margin: 0 0 15px;
    padding: 15px;

    background: var(--background-light);
    border-radius: 20px;

    font-size: 14px;
    font-family: var(--contentFont);
  }
  button {
    padding: 15px;

    background: var(--accent);
    border-radius: 20px;

    color: var(--text);
    font-family: var(--contentFont);
    font-weight: bold;
    font-size: 14px;

    text-transform: uppercase;
    cursor: pointer;

    transition: background 300ms ease;

    &:hover,
    &:active,
    &:focus {
      background: var(--primary);
    }
  }
  p {
    margin-bottom: 10px;

    color: var(--text);
    font-family: var(--secondaryFont);
    font-size: 18px;
    text-decoration: none;
  }
  a {
    margin-top: 20px;
    color: var(--accent);
    font-family: var(--secondaryFont);
    font-size: 18px;
    text-decoration: none;
  }

  label {
    color: var(--accent);
    font-family: var(--primaryFont);
    font-size: 14px;
    font-weight: bold;
  }
}

@media only screen and (max-width: 400px) {
  #title {
    font-size: 1.4rem;

    #waste-time {
      font-size: .3rem;
    }
  }

  #login-form {
    width: calc(85vw - 40px);

    padding: 20px;
  }
}

@media only screen and (max-width: 300px) {
  #login-form {
    width: calc(95vw - 40px);
  }
}
