* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:host {
  display: flex;
  width: 300px;
  height: 100px;
  margin-right: 10px;
}
.container {
  position: relative;
  top: 0;

  width: inherit;
  height: inherit;

  display: flex;
  align-items: center;
  justify-content: center;

  .search {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 80px;
    height: 80px;
    background: var(--accent);
    border-radius: 50%;
    transition: all 1s;
    z-index: 4;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);

    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      margin: auto;
      top: 22px;
      right: 0;
      bottom: 0;
      left: 22px;
      width: 12px;
      height: 2px;
      background: white;
      transform: rotate(45deg);
      transition: all .5s;
    }
    &::after {
      content: "";
      position: absolute;
      margin: auto;
      top: -5px;
      right: 0;
      bottom: 0;
      left: -5px;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      border: 2px solid white;
      transition: all 500ms;
    }
  }
  input {
    font-family: var(--secondaryFont);
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 55%;
    height: 50%;
    outline: none;
    border: none;
    background: white;
    color: black;
    padding: 0 80px 0 20px;
    border-radius: 30px;
    box-shadow: 0 0 5px 0 black,
    0 20px 25px 0 rgba(0, 0, 0, 0.2);
    transition: all 1s;
    opacity: 0;
    z-index: 5;
    font-weight: bolder;
    letter-spacing: 0.1em;
    cursor: pointer;
    &:focus {
      width: 85%;
      opacity: 1;
      cursor: text;
    }
    &:focus ~ .search {
      right: -75%;
      background: var(--primary);
      z-index: 6;
      opacity: 1;
      &::before {
        top: 0;
        left: 0;
        width: 25px;
      }
      &::after {
        top: 0;
        left: 0;
        width: 25px;
        height: 2px;
        border: none;
        background: white;
        border-radius: 0;
        transform: rotate(-45deg);
      }
    }
    &::placeholder {
      color: black;
      opacity: 0.5;
      font-weight: bolder;
    }
  }
}

@media only screen and (max-width: 1100px) {
  :host {
    width: 250px;
    height: 70px;
  }

  .container .search {
    width: 60px;
    height: 60px;
  }
}

