::ng-deep :root {
  --primary: #f0666e;
  --secondary: lightblue;
  --background: #252525;
  --background-dark: #181c1f;
  --background-light: #f2f2f2;
  --text: #d8dedf;
  --textDark: #5b7280;
  //--secondaryFont: 'Source Sans Pro', sans-serif;
  --primaryFont: 'Acme', sans-serif;
  --secondaryFont: 'Josefin Sans', sans-serif;
  --contentFont: 'Montserrat', sans-serif;
  //--primaryFont: 'Bangers', cursive;

  --accent: #fe4250;
  --accentDisabled: #2a0d0e;
}

p {
  margin: 0;
}

app-watch-it {
  background-color: #252525;
}

app-top-ten {
  background-color: #252525;
}

.mainContent {
  display: grid;
  grid-template-columns: 35% 30% 35%;
}

.mat-dialog-container {
  padding: 0 0;
}
