:host {
  width: 300px;
  height: 450px;
  display: block;
}
.mat-dialog-container {
  padding: 0px !important;
}
#movie-card {
  width: inherit;
  height: inherit;

  position: relative;
  overflow: hidden;

  cursor: pointer;

  &:hover #overlay {
    background: rgba(0, 0, 0, 0.7);

    #deleteButton {
      opacity: 1;
    }

    #content {
      top: 0;
    }
  }

  #overlay {
    position: relative;
    width: 100%;
    height: 100%;

    transition: background-color 300ms;

    #deleteButton {
      position: absolute;
      top: 5px;
      right: 5px;

      width: 25px;
      height: 25px;
      line-height: 25px;
      color: var(--background-dark);
      font-family: var(--primaryFont);
      z-index: 50;
      border-radius: 50%;
      background-color: var(--text);
      text-align: center;
      opacity: 0;
      transition: opacity 300ms;
    }
    #content {
      position: relative;
      top: 100%;
      margin: 0 5px;
      color: var(--text);
      overflow: hidden;

      font-family: var(--secondaryFont);
      font-weight: bold;

      transition: top 300ms;

      p {
        font-family: var(--contentFont);
      }
    }
  }
}

@media only screen and (max-width: 1400px) {
  :host {
    width: 200px;
    height: 300px;
    #movie-card #overlay #content {
      font-size: .7rem;
      p {
        font-weight: normal;
        font-size: .8rem;
      }
    }
  }
}
@media only screen and (max-width: 1100px) {
  :host {
    width: 150px;
    height: 225px;
    #movie-card #overlay #content {
      font-size: .4rem;
      p {
        font-weight: normal;
        font-size: .6rem;
      }
    }
  }
}







//.row {
//  padding: 20px;
//  display: grid;
//  grid-template-columns: 50% 50%;
//  row-gap: 10px;
//}

//.card-header {
//  padding: 10px;
//  cursor: pointer;
//}

//.release-date {
//  color: #fff;
//}

//.movie-content {
//  position: absolute;
//  bottom: 0;
//  width: 100%;
//  overflow: hidden;
//  -webkit-box-sizing: border-box;
//  box-sizing: border-box;
//  -webkit-transform: translateY(100%);
//  transform: translateY(100%);
//  -webkit-transition: -webkit-transform 300ms;
//  transition: -webkit-transform 300ms;
//  transition: transform 300ms;
//}

//h1 {
//  font-family: "Open Sans", sans-serif;
//  font-weight: 300;
//  font-size: 20px;
//}
//
//p {
//  font-family: "Open Sans", sans-serif;
//  font-weight: 500;
//}



//.release-date p {
//  margin: 0;
//}


